@import "base/normalize";
@import "base/reset";
@import "base/variables";
@import "base/mixins";
@import "components/_messages.scss";
@import "components/scaffolding";
@import "components/buttons";
@import "components/forms";
@import "components/tables";

// -- Preloader

.preloader {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: $primary-color;
}

// -- Header

.header {
	padding: 1rem;
	width: 100%;

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	&__navitem {
		margin-left: 1rem;
	}
}

// -- Home

.home {
	padding: 0 1rem;

	&__casestudy {
		margin: 2rem 0;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 0 1rem;
		grid-template-areas:
		  "csimg csheader";
	}

	&__csheader {
		grid-area: csheader;
		width: 100%;

		h2 {
			margin: .25rem 0;
		}

		h4 {
			margin: .25rem 0;
		}
	}

	&__csimg {
		grid-area: csimg;
		height: 16rem;
		width: 100%;
		max-width: 40rem;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}


// -- About

.about {
	padding: 0 1rem;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 1rem;
	grid-template-areas:
		"abouttext aboutimg";

	&__text {
		grid-area: abouttext;
	}

	&__header {
		h1 {
			margin: .25rem 0;
		}
	}

	&__img {
		grid-area: aboutimg;
	}
}


// -- Case Study

.casestudy {
	padding: 0 1rem;

	&__body {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 1rem;
		grid-template-areas:
		  "csimg cstext";
	}

	&__header {

		h1 {
			margin: 0 0 .25rem 0;
		}

		h3 {
			margin: .25rem 0 2rem 0;
		}
	}

	&__img {
		grid-area: csimg;
		max-width: 100%;
		height: auto;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__text {
		grid-area: cstext;
		width: 100%;
	}
}

// -- Footer

.footer {
	width: 100%;
	padding: 1rem;

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	&__social {
		width: 100%;
		max-width: 16rem;
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
	}

	&__socialitem {
		padding-left: 1rem;
	}
}

/// - Media Queries

// -- Tablet

@include medium-breakpoint {
	.home {
		&__casestudy {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
			gap: 1rem;
			grid-template-areas:
			  "csimg csheader";
		}
	}

	.casestudy {
		&__body {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			gap: 1rem;
			grid-template-areas:
			  "csimg" "cstext";
		}
	}
}

// -- Mobile

@include small-breakpoint {
	.home {
		&__casestudy {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			gap: 0 1rem;
			grid-template-areas:
			  "csimg"
			  "csheader";
		}
	}
}
