@font-face {
	font-family: "ImperialBT-Roman";
	src: url('/assets/fonts/ImperialBTWXXRoman.woff2') format('woff2'), url('/assets/fonts/ImperialBTWXXRoman.woff') format('woff');
}

@font-face {
	font-family: "HelveticaNowDisplay-Blk";
	src: url('/assets/fonts/HelveticaNowDisplayBlk.woff2') format('woff2'), url('/assets/fonts/HelveticaNowDisplayBlk.woff') format('woff');
}
